[Unit]
Description=Flow Watchdog
After=network.target

[Service]
ExecStart=/go/src/FlowWatchdog/main
WorkingDirectory=/go/src/FlowWatchdog
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
